body {
    background: #f4f4f4;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    max-width: 600px;
    flex-direction: column;
    margin: 0 auto;
}

.container.advanced {
    align-items: flex-start;
}

.container.advanced label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.container.advanced h1 {
    align-self: center;
}

form {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    border-radius: 10px;
    border: none;
    padding: 12px;
    width: 100%;
    margin-bottom: 15px;
}
.container.advanced input[type="text"] {
    width: 400px;
}
input[type="submit"] {
    border-radius: 10px;
    border: 1px solid;
    padding: 12px;
    cursor: pointer;
    transition: all .3s ease;
}

.container.advanced input[type="submit"] {
    background: #8ab4f8;
    color: #000;
    border: 1px solid #8ab4f8;
}


input[type="submit"]:hover {
    background: #333;
    color: #fff;
}

.container.advanced input[type="submit"]:hover {
    border: 1px solid #aecbfa;
    background: #aecbfa;
}

.page-link {
    width: 100%;
    text-align: right;
}

.page-link a {
    font-size: 16px;
    color: #000;
    transition: all .3s ease;
}
.page-link a:first-child {
    margin-right: 15px;
}

.page-link a:hover {
    color: orange;
}
